.departments {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5rem;
}
.departments__list {
    width: 100%;
    .item {

        a{
            width: 100%;
            display: block;
            padding: 0.5rem 0;
            font-weight: 700;
        }

    }
}
.departments__heading{
    .heading__icon{
        position: absolute;
        right: 1rem;
        top: 1.2rem;
    }
}