.header{
    display: flex;
    z-index: 1;
    box-shadow: var(--boxShadow) 0px 0px 12px;
    top: 0;
    width: 100%;
    height:  var(--headerHeight);
    align-items: center;
    position: fixed;

    .logo {
        grid-column: span 3/span 3;
        display: flex;
        align-items: center;
        position: relative;
        svg{
            position: absolute;
            width: 10rem;
            left: 0rem;
            fill:var(--primary);
        }
        img{
            width: 10rem;
        }
    }
    .profile-menu{
        &>div{
            @include media('<=tablet')  { 
                width: 100%;
                transform: none !important;
                top: var(--headerHeight) !important;
                height: calc(100vh - var(--headerHeight));
                &>div{
                    height:100%;
                }
            }
        }
    }
    .show-menu
    {
        
        position: absolute;
        right: 2rem;
        top: 1.2rem;
        &:hover{
            color: var(--black);
        }
        &:visited{
            color: var(--black);
        }
    }
    .navigation-container {
        display: flex;
        grid-column: span 21/span 21;
        align-items: center;
        &> nav{
            display: flex;
            align-items: center;
      
            .chakra-link {
                padding: 0.5rem;
            }

        }

    }
}

main {
    padding-top: var(--headerHeight);
}
.sidebar{
    grid-column: span 2/span 2;
    height: 100vh;
    @include media('>=tablet')  { 
        grid-column: span 3/span 3;
    }   
    
}
.grid{
    grid-template-columns: repeat(var(--grid), 1fr);
    display: grid;
    grid-gap:2rem;

}
.content{
    grid-column: span 22/span 22;
    @include media('>=tablet')  { 
        grid-column: span 21/span 21;
    }   

}
.sidebox{
    grid-column: span 24/span 24;
    height: 100vh;
    padding-top: 4rem;
    @include media('>=tablet')  { 
        grid-column: span 6/span 6;
    }   
}
.container{
    max-width:84rem ;
    margin: auto;
    width: 100%;
    position: relative;
}
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
