.header{
    display: flex;
    z-index: 1;
    box-shadow: var(--boxShadow) 0px 0px 12px;
    top: 0;
    width: 100vw;
    height:  var(--headerHeight);
    align-items: center;
    position: fixed;
    background: var(--quinary);
    .logo {
        grid-column: span 1/span 1;
        display: flex;
        align-items: center;
        position: relative;
        svg{
            position: absolute;
            width: 6rem;
            top: 0;
        }
    }
    .profile-menu{
        &>div{
            @include media('<=tablet')  { 
                width: 100%;
                transform: none !important;
                top: var(--headerHeight) !important;
                height: calc(100vh - var(--headerHeight));
                &>div{
                    height:100%;
                }
            }
        }
    }
    .show-menu
    {
        color:  var(--white);
        position: absolute;
        right: 2rem;
        top: 0.2rem;
        &:hover{
            color: var(--black);
        }
        &:visited{
            color: var(--black);
        }
    }
    .navigation-container {
        display: flex;
        grid-column: span 2/span 2;
        &> nav{
            display: flex;
            align-items: center;
            color:  var(--white);
            .chakra-link {
                padding: 0.5rem;
            }

        }
        .chakra-button {
            fill: var(--white);
        }
    }
}

main {
    padding-top: var(--headerHeight);
}
.sidebar{
    grid-column: span 1/span 1;
    height: 100vh;
    @include media('>=tablet')  { 
        grid-column: span 4/span 4;
    }   
    
}
.content{
    grid-column: span 11/span 11;
    @include media('>=tablet')  { 
        grid-column: span 8/span 8;
    }   

}
.container{
    max-width:120rem ;
    margin: auto;
    width: 100%;
    position: relative;
}
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
h1{

    padding: 2rem;
    border-bottom: thin solid var(--black);
    position: relative;

}