$c-blue: #00B8E0;
$c-blue-l: #E8F7FC;
$c-red: #FF6546;
$c-red-l: #FFEFEC;
$c-yellow: #FFC700;
$c-yellow-l: #FFF9E3;
$c-green: #00CC62;
$c-green-l: #E5FAEF;
$c-white: #FFFFFF;
$c-black: #393949;
$c-grey: #C8C8CD;
$c-grey-l: #F1F1F4;

$bp-tablet: 768px;
$bp-pc: 1200px;