@import './variables';


.kanban {
  display:grid;   
  grid-auto-flow:column;  
  grid-gap:10px; 
  margin:30px;
  overflow:auto;
  & >.column {
    min-width: max-content;
  }

  .card {
    min-height: 3rem;
    min-width: 3rem;
    background: aliceblue;
    margin-top: 1rem;
    padding: 1rem;
  }
}
